<html>
    <head>
        <!-- CSS only -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
    </head>
    <body style="background-color: rgb(201, 201, 201);">
        <div style="width: 60%;" class="card container rounded bg-light border px-5 py-3 pb-2 mt-3">
            <div class="row justify-content-between">
                <div class="col-4">
                    <a>
                        Bot status:
                        <span>
                        {% if running %}
                            <b class="text-success">Active</b>
                        {% else %}
                            <b class="text-danger">Inactive</b>
                        {% endif %}
                        </span>
                    </a>
                </div>
                <div class="col-md-auto">
                    {% if running %}
                    <button id="stop" class="btn btn-secondary">Stop bot</button>
                    {% else %}
                    <button id="start" class="btn btn-secondary">Start bot</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="width: 60%;" class="container rounded bg-light border px-5 py-3 mt-2">
            <div class="row">
                <form id="filter" action="/filter" method="post">
                    <div class="input-group">
                        <!-- <span class="input-group-text">Add filter</span> -->

                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" id="type" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quality</button>
                            <div class="dropdown-menu">
                              <button class="dropdown-item settype">Momo</button>
                              <button class="dropdown-item settype">Quality</button>
                              <button class="dropdown-item settype">Gem</button>
                            </div>
                        </div>

                        <input class="form-control" type="text" id="quality" name="quality" list="qualities" placeholder="Quality">
                        <datalist id="qualities">
                            <option value=1>Common</option>              
                            <option value=2>Uncommon</option>              
                            <option value=3>Unique</option>              
                            <option value=4>Rare</option>              
                            <option value=5>Epic</option>              
                            <option value=6>Legendary</option>              
                        </datalist>

                        <input class="form-control" type="text" id="momo" name="momo" list="momos" placeholder="Momo">
                        <datalist id="momos">
                            {% for key, value in momos.items() %}
                            <option value={{key}}>{{value.name}} {{qualities[value.quality|int]}}</option>
                            {% endfor %}
                        </datalist>


                        <input class="form-control" type="text" id="gem" name="gem" list="gems" placeholder="Gem">
                        <datalist id="gems">
                            {% for key, value in momos.items() %}
                            <option value={{key}}>{{value.name}} {{qualities[value.quality|int]}}</option>
                            {% endfor %}
                        </datalist>

                        <input type="number" class="form-control" step="0.01" id="price" name="price" placeholder="Price below">
                        <input type="number" class="form-control" step="0.01" id="hash" name="hash" placeholder="Hash rate below">
                        <button type="submit" class="btn btn-secondary">Add filter</button>
                    </div>
                </form>
            </div>
            <div class="row">
                {% if filters %}
                <table class="table">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Quality</th>
                          <th>Momo</th>
                          <th>Price</th>
                          <th>Hash</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in filters.items() %}
                        <tr>
                          <td>{{ key }}</td>
                          <td>{{ '-' if value.quality == -1 else qualities[value.quality] }}</td>
                          <td>{{ '-' if value.momo == -1 else momos[value.momo|string]['name'] + ' ' + qualities[momos[value.momo|string]['quality']|int] }}</td>
                          <td>{{ '-' if value.price == -1 else value.price }} {{ '' if value.price == -1 else 'BUSD' }} </td>
                          <td>{{ '-' if value.hash == -1 else value.hash }} {{ '' if value.hash == -1 else 'BUSD/hash' }} </td>
                          <td>
                            <button id="{{ key }}" class="delete btn btn-danger btn-sm">Delete filter</button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>    
                {% else %}
                <b class="text-dark">No Filters set yet.</b>
                {% endif %}
            </div>
        </div>
        <div style="width: 60%;" class="container rounded bg-light border px-5 py-3 mt-5">
            {% if bought %}
            <table class="table">
                <thead>
                    <tr>
                      <th>Hash</th>
                      <th>Momo</th>
                      <th>Quality</th>
                      <th>Price</th>
                      <th>Hash</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in bought.items() %}
                    <tr>
                      <td><a href="{{ 'https://bscscan.com/tx/' + value.hash if value.hash|length > 50 else ''}}">{{ value.hash[0:40] + '...' }}</a></td>
                      <td>{{ momos[value.data.prototype|string]['name'] }}</td>
                      <td>{{ qualities[momos[value.data.prototype|string]['quality']|int] }}</td>
                      <td>{{ value.data.nowPrice / 1000000000 }} BUSD</td>
                      <td>{{ value.data.nowPrice / 1000000000 / value.data.lvHashrate }} BUSD</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link">Previous</a></li>
                  <li class="page-item"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">Next</a></li>
                </ul>
            </nav>   
            {% else %}
            <b class="text-dark">No Momos bought yet.</b>
            {% endif %}
        </div>
    </body>
    <script>
        $(function() {
            $('button#stop').on('click', function(e) {
            e.preventDefault()
            $.post('/stop',
                function(data) {
                    location.reload();
                });
            return false;
            });
        });
        $(function() {
            $('button.settype').on('click', function(e) {
                data = e.target.innerHTML
                $('button#type').html(data)
            });
        });
        $(function() {
            $('button#start').on('click', function(e) {
            console.log('hi')
            e.preventDefault()
            $.post('/start',
                function(data) {
                    location.reload();
                });
            return false;
            });
        });
        $(function() {
            $('button.delete').on('click', function(e) {
            e.preventDefault()
            $.post(`/filter/${this.id}`,
                function(data) {
                    location.reload();
                });
            return false;
            });
        });
        $(function() {
            $("form#filter").submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: 'filter',
                    type: 'post',
                    data:$('#filter').serialize()
                });
                location.reload();
                return false;
            });
        });
    </script>
</html>